button {
    width: 120px;
    height: 40px;
    outline: none;
    background-color: f5f5f5;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
}

.buttonLink {
    width: fit-content;
}

.outlined{
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
}