.sideMenu{
    background-color: #0e1823;
    width: 20%;
    height: 100vh;
    position: fixed;
    top: 0;
    display: grid;
    grid-template-rows: 150px 1fr;
    align-items: center;
    justify-content: center;
}

.logo{
    cursor: pointer;
    width:80px;
    height:80px;
}